body {
    --sb-track-color: #ccc;
    --sb-thumb-color: #000000;
    --sb-size: 12px;
}
body::-webkit-scrollbar {
    width: var(--sb-size);

}
body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 8px;
}
body::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 8px;
    border: #000000 3px solid;
}
@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}