@media screen and (max-width: 767px) {
    .diagonal-split {
        flex-direction: column;
        clip-path: none;
    }

    .left-side,
    .right-side {
        flex: none;
        width: 100%;
        padding: 20px;
    }

    .right-side {
        display: none;
    }

    .left-side {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .main-header {
        padding: 15px;
    }

    .header-content {
        justify-content: center;
    }

    .main-nav ul {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .profile-image-container {
        display: none;
    }

    .hero-content {
        margin: 0 auto;
    }

    .hero-content h1 {
        font-size: 2.5rem;
    }

    .hero-content h1 span {
        font-size: 2.75rem;
    }

    .hero-content p {
        font-size: 1.5rem;
    }

    .hero-content p .text {
        font-size: 2rem;
    }
}

@media screen and (max-width: 600px) {
    .about-me {
        flex-direction: column;
        height: auto;
        padding: 20px;
        gap: 30px;
    }

    .about-image img {
        width: 90%;
        height: auto;
    }

    .about-text {
        width: 100%;
        height: auto;
        text-align: center;
    }

    .text2 {
        font-size: 20px;
    }

    .read-more {
        margin-top: 30px;
        font-size: 14px;
    }
}